<div class="h-screen w-screen flex justify-center items-center">
  <div class="w-96 border border-gray-100 shadow-lg rounded-md p-6">
    <form [formGroup]="loginForm" class="space-y-8">
      <h3 class="text-2xl font-semibold text-center">Login</h3>

      <div class="w-full space-y-4">
        <div>
          <label class="font-medium" for="">Username</label>
          <input
            type="text"
            formControlName="username"
            class="w-full px-2 py-1 border border-gray-100 rounded-md"
          />
        </div>
        <div>
          <label class="font-medium" for="">Password</label>
          <input
            type="password"
            formControlName="password"
            class="w-full px-2 py-1 border border-gray-100 rounded-md"
          />
        </div>
      </div>

      <button
        [disabled]="loginForm.untouched || loginForm.invalid"
        (click)="login()"
        class="text-center bg-blue-600 text-white w-full rounded-md py-2 shadow-md disabled:opacity-70"
      >
        Login
      </button>
    </form>
  </div>
</div>
