<div class="w-full">
  <div class="w-full">
    <div class="w-full border-b border-red-500 shadow-red-500">
      <div class="w-4/5 mt-8 mx-auto flex">
        <a
          class="px-4 py-2 block"
          routerLink="./your-books"
          routerLinkActive="bg-red-500 font-bold text-white"
          >Your Books</a
        >
        <a
          class="px-4 py-2 block"
          routerLink="./library-books"
          routerLinkActive="bg-red-500 font-bold text-white"
          >Library Books</a
        >
      </div>
    </div>
    <div class="w-4/5 mx-auto py-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
